<html>
  <head>
    <style>
      #content {
        text-align: center;
        margin-top: 100px;
      }

      #character {
        margin: 20px;
        border: 1px solid black;
      }
    </style>
  </head>

  <body>
    <div id=content>
      <h2>Let's iterate segmented characters</h2>
      <img id=character src="/chars/{{ img_id }}.png" />
      <form action="/img/{{ img_id + 1}}">
        <input type="text" name="content" value="" autofocus />
        <input type="submit" value="NEXT" />
      </form>
    </div>
  </body>
</html>
